schemas/ActivityDataExtensionsv1.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://www.n3r1.com/xmlschemas/ActivityDataExtensions/v1"
  elementFormDefault="qualified"
  xmlns="http://www.n3r1.com/xmlschemas/ActivityDataExtensions/v1"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation><xsd:documentation>
  This schema defines the extensions to be used with the GPX 1.1 schema.
  The root elements defined by this schema are intended to be used as child
  elements of the "extensions" elements in the GPX 1.1 schema. The GPX 1.1
  schema is available at http://www.topografix.com/GPX/1/1/gpx.xsd.
  </xsd:documentation></xsd:annotation>

  <xsd:element name="ActivityTrackExtension" type="ActivityTrackExtension_t" />

  <xsd:element name="ActivityTrackPointExtension" type="ActivityTrackPointExtension_t" />

  <xsd:complexType name="ActivityTrackExtension_t">
    <xsd:annotation><xsd:documentation>
    This type contains data fields available in activity tracks that cannot
    be represented in tracks in GPX 1.1 instances.
    </xsd:documentation></xsd:annotation>
    <xsd:sequence>
      <!-- totals unless prefixed with avg/max/min/norm -->
      <xsd:element name="elapsedtime" type="Seconds_t" minOccurs="0" />
      <xsd:element name="timertime" type="Seconds_t" minOccurs="0" />
      <xsd:element name="distance" type="Meters_t" minOccurs="0" />
      <xsd:element name="ascent" type="Meters_t" minOccurs="0" />
      <xsd:element name="descent" type="Meters_t" minOccurs="0" />
      <xsd:element name="maxgrade" type="Percent_t" minOccurs="0" />
      <xsd:element name="mingrade" type="Percent_t" minOccurs="0" />
      <xsd:element name="cycles" type="Integer_t" minOccurs="0" />
      <xsd:element name="strokes" type="Integer_t" minOccurs="0" />
      <xsd:element name="work" type="Joules_t" minOccurs="0" />
      <xsd:element name="kcal" type="Kilocalories_t" minOccurs="0" />
      <xsd:element name="grit" type="FloatingPoint_t" minOccurs="0" />
      <xsd:element name="flow" type="FloatingPoint_t" minOccurs="0" />
      <xsd:element name="avgspeed" type="MetersPerSecond_t" minOccurs="0" />
      <xsd:element name="maxspeed" type="MetersPerSecond_t" minOccurs="0" />
      <xsd:element name="avgpower" type="Watts_t" minOccurs="0" />
      <xsd:element name="maxpower" type="Watts_t" minOccurs="0" />
      <xsd:element name="normpower" type="Watts_t" minOccurs="0" /> <!-- normalized power -->
      <xsd:element name="avgvam" type="MetersPerSecond_t" minOccurs="0" /> <!-- average vertical ascent meters per second -->
      <xsd:element name="avgrr" type="BreathsPerMinute_t" minOccurs="0" /> <!-- average respiration rate -->
      <xsd:element name="maxrr" type="BreathsPerMinute_t" minOccurs="0" /> <!-- maximum respiration rate -->
      <xsd:element name="minrr" type="BreathsPerMinute_t" minOccurs="0" /> <!-- minimum respiration rate -->
      <xsd:element name="jumps" type="Integer_t" minOccurs="0" />
      <xsd:element name="avghr" type="BeatsPerMinute_t" minOccurs="0" />
      <xsd:element name="maxhr" type="BeatsPerMinute_t" minOccurs="0" />
      <xsd:element name="avgcad" type="RevolutionsPerMinute_t" minOccurs="0" />
      <xsd:element name="maxcad" type="RevolutionsPerMinute_t" minOccurs="0" />
      <xsd:element name="avgatemp" type="DegreesCelsius_t" minOccurs="0" />
      <xsd:element name="maxatemp" type="DegreesCelsius_t" minOccurs="0" />
      <xsd:element name="minatemp" type="DegreesCelsius_t" minOccurs="0" />
      <xsd:element name="Extensions" type="Extensions_t" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ActivityTrackPointExtension_t">
    <xsd:annotation><xsd:documentation>
    This type contains data fields that cannot
    be represented in track points in GPX 1.1 instances.
    </xsd:documentation></xsd:annotation>
    <xsd:sequence>
      <xsd:element name="timer" type="Seconds_t" minOccurs="0" /> <!-- time since start of activity in seconds -->
      <xsd:element name="smoothele" type="Meters_t" minOccurs="0" /> <!-- smoothed altitude -->
      <xsd:element name="dist" type="Meters_t" minOccurs="0" /> <!-- distance since start of activity in meters -->
      <xsd:element name="kcal" type="Kilocalories_t" minOccurs="0" />
      <xsd:element name="rr" type="BreathsPerMinute_t" minOccurs="0" /> <!-- respiration rate -->
      <xsd:element name="ctemp" type="DegreesCelsius_t" minOccurs="0" /> <!-- core temperature -->
      <xsd:element name="power" type="Watts_t" minOccurs="0" />
      <xsd:element name="power3s" type="Watts_t" minOccurs="0" /> <!-- 3 second power average -->
      <xsd:element name="power10s" type="Watts_t" minOccurs="0" /> <!-- 10 second power average -->
      <xsd:element name="power30s" type="Watts_t" minOccurs="0" /> <!-- 30 second power average -->
      <xsd:element name="accpower" type="Watts_t" minOccurs="0" /> <!-- accumulated power -->
      <xsd:element name="grade" type="Percent_t" minOccurs="0" /> <!-- grade in percent -->
      <xsd:element name="vspeed" type="MetersPerSecond_t" minOccurs="0" />
      <xsd:element name="lrbalance" type="FloatingPoint_t" minOccurs="0" />
      <xsd:element name="ltrqeff" type="Percent_t" minOccurs="0" /> <!-- left torque effectiveness -->
      <xsd:element name="rtrqeff" type="Percent_t" minOccurs="0" /> <!-- right torque effectiveness -->
      <xsd:element name="lpdlsmooth" type="Percent_t" minOccurs="0" /> <!-- left pedal smoothness -->
      <xsd:element name="rpdlsmooth" type="Percent_t" minOccurs="0" /> <!-- right pedal smoothness -->
      <xsd:element name="cpdlsmooth" type="Percent_t" minOccurs="0" /> <!-- combined pedal smoothness -->
      <xsd:element name="grit" type="FloatingPoint_t" minOccurs="0" />
      <xsd:element name="flow" type="FloatingPoint_t" minOccurs="0" />
      <xsd:element name="climb" type="Integer_t" minOccurs="0" /> <!-- climb number, only present when climbing -->
      <xsd:element name="fgearnum" type="Integer_t" minOccurs="0" /> <!-- front gear number -->
      <xsd:element name="fgear" type="Teeth_t" minOccurs="0" /> <!-- front gear chainring size in teeth -->
      <xsd:element name="rgearnum" type="Integer_t" minOccurs="0" /> <!-- rear gear number -->
      <xsd:element name="rgear" type="Teeth_t" minOccurs="0" /> <!-- rear gear sprocket size in teeth -->
      <xsd:element name="jumpdist" type="Meters_t" minOccurs="0" /> <!-- jump distance - only present once per jump -->
      <xsd:element name="jumpheight" type="Meters_t" minOccurs="0" /> <!-- jump height - only present once per jump -->
      <xsd:element name="jumptime" type="Seconds_t" minOccurs="0" /> <!-- jump hang time - only present once per jump -->
      <xsd:element name="jumpscore" type="FloatingPoint_t" minOccurs="0" /> <!-- jump score - only present once per jump -->
      <xsd:element name="Extensions" type="Extensions_t" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="Seconds_t">
    <xsd:annotation><xsd:documentation>
    This type contains a time value measured in seconds.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="Meters_t">
    <xsd:annotation><xsd:documentation>
    This type contains a distance value measured in meters.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="Joules_t">
    <xsd:annotation><xsd:documentation>
    This type contains an energy value measured in joules.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="Kilocalories_t">
    <xsd:annotation><xsd:documentation>
    This type contains an energy value measured in kilocalories.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="MetersPerSecond_t">
    <xsd:annotation><xsd:documentation>
      This type contains a speed measured in meters per second.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="Watts_t">
    <xsd:annotation><xsd:documentation>
    This type contains a power value measured in watts.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="BreathsPerMinute_t">
    <xsd:annotation><xsd:documentation>
    This type contains a respiration rate measured in breaths per minute.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="BeatsPerMinute_t">
    <xsd:annotation><xsd:documentation>
    This type contains a heart rate measured in beats per minute.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:unsignedByte">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RevolutionsPerMinute_t">
    <xsd:annotation><xsd:documentation>
    This type contains a cadence measured in revolutions per minute.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:unsignedByte">
	<xsd:maxInclusive value="254"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DegreesCelsius_t">
    <xsd:annotation><xsd:documentation>
    This type contains a temperature value measured in degrees Celsius.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="Teeth_t">
    <xsd:annotation><xsd:documentation>
    This type contains a gear size value measured in number of teeth.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:unsignedByte">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="254"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Integer_t">
    <xsd:annotation><xsd:documentation>
    This type contains an integer value.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:integer"/>
  </xsd:simpleType>

  <xsd:simpleType name="FloatingPoint_t">
    <xsd:annotation><xsd:documentation>
    This type contains a decimal value.
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>

  <xsd:simpleType name="Percent_t">
    <xsd:annotation><xsd:documentation>
    This type contains a percentage value (0 to 100).
    </xsd:documentation></xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="100"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="Extensions_t">
    <xsd:annotation>
    <xsd:documentation>This type provides the ability to extend any data type that includes it.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
    <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>